body{
    background-image:url(byDJj6UbNMJxv79BiZDUDV-320-80.jpg) ;
    font-family: "Times New Roman";
    text-align: center;
    color: white;

}
#news{
    text-align: center;
}
#translated{
text-align: center;
}
